.container {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: auto;
  grid-template-areas:
  "logo . navbar"
  ". body .";
  /* column-gap: 400px; */
  /* border: solid 1px red; */
}

.logo {
  grid-area: logo;
  justify-self: center;
  padding: 50px 20px 20px;
}

.body {
  grid-area: body;
  justify-self:center;
}

.navbar {
  grid-area: navbar;
  justify-self: right;
  padding: 50px 50px 50px;
}

.navbar a {
  padding: 12px 20px 17px;
  margin-left: 20px;
  border-radius: 25px;
  text-align: center;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: -1px 0px 5px 0px rgba(184, 184, 184, 1);
  box-shadow: -1px 0px 5px 0px rgba(184, 184, 184, 1);
}

.navbar a:hover {
  background-color: #333;
  color: #fff;
}

.active {
  background-color: #333;
  color: #fff;
}