.container {
  display: grid;
  grid-template-columns: [line0] 25% [line1] 50% [line2] 25% [line3];
  grid-template-rows: [row1-start] 150px [row1-end row2-start] 50px [row2-end row3-start] auto [row3-end];
  grid-template-areas: "logo . navbar" ". . ." ". body .";
  /* column-gap: 400px; */
  /* border: solid 1px red; */
}

.logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  position: sticky;
  top: 50px;
  color: white;
  font-size: 20px;
}

.body {
  grid-area: row2-start / line0 / row3-end / line3;
  width: 100%;
  justify-self: center;
  justify-items: center;
}

.navbar {
  grid-area: navbar;
  justify-self: center;
  align-self: center;
  position: sticky;
  top: 50px;
}
