.container {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: auto;
  grid-template-areas: "img body ." ". tabs ." ". tab-info .";
}

.proPic {
  display: flex;
  place-self: center;
  grid-area: img;
  border: 5px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.body {
  padding: 50px;
  grid-area: body;
}

.tabs {
  justify-self: center;
  grid-area: tabs;
}

.tabInfo {
  margin-top: 50px;
  grid-area: tab-info;
  place-self: center;
}
