.container {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: auto;
  grid-template-areas: 
  "img body ."
  ". tabs ."
  ". tab-info .";
}

.proPic {
  place-self: center;
  grid-area: img;
}

.body {
  padding: 50px;
  grid-area: body;
}

.tabs {
  justify-self: center;
  grid-area: tabs;
}
.tab {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px;
  border: solid 4px black;
  border-radius: 5px;
  background: rgb(194, 194, 194);
}

.tabActive {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px;
  border: solid 4px black;
  border-radius: 5px;
  background-color: red;
}
.tab:hover {
  background-color: aqua;
}
.tabActive:hover {
  background-color: aqua;
}

.tabInfo {
  margin-top: 50px;
  grid-area: tab-info;
  place-self: center;
}