.TabHead {
  border-bottom: 1px solid black;
  display: flex;
  background: black;
}

.TabContainer {
  width: 30em;
  height: 30em;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: -1px 0px 5px 0px rgba(184, 184, 184, 1);
  box-shadow: -1px 0px 5px 0px rgba(184, 184, 184, 1);
}

.TabBody {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.Tab {
  padding: 1em;
  background: gray;
}